.faq-section {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: var(--color-light);
  font-family: merriweather, sans-serif;
}

.faq-section h2 {
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.faq-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.faq-item {
  border-bottom: 1px solid #cccccc;
  padding: 15px 0;
  cursor: pointer;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  font-weight: bold;
  color: #333;
}

.faq-answer {
  margin-top: 10px;
  font-size: 18px;
  color: #555;
  display: none;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

.faq-answer.visible {
  display: block;
}

.arrow {
  font-size: 18px;
  color: #999;
}

.arrow.plus::before {
  content: "+";
  font-size: 25px;
  color: black;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 5px;
  border-radius: 3px;
}

.arrow.plus:hover::before {
  background-color: #333;
  color: #fff;
}

.arrow.minus::before {
  content: "−";
  font-size: 25px;
  color: #999;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 5px;
  border-radius: 3px;
}

.arrow.minus:hover::before {
  background-color: #333;
  color: #fff;
}

.faq-footer {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  color: #333;
}

.faq-footer button span {
  margin-left: 2px;
  font-size: 13px;
  cursor: pointer;
  text-decoration: underline;
}

.arrow.minus:hover::before {
  background-color: #333;
  color: #fff;
}

@media (max-width: 768px) {
  .faq-section {
    padding: 10px;
    margin-bottom: 70px;
  }

  .faq-question {
    font-size: 16px;
  }

  .faq-answer {
    font-size: 14px;
  }

  .faq-container {
    padding: 10px;
  }

  .faq-footer {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .faq-section {
    padding: 5px;
    margin-bottom: 80px;
  }

  .faq-question {
    font-size: 14px;
  }

  .faq-answer {
    font-size: 12px;
  }

  .faq-footer {
    font-size: 12px;
  }
}
